#cart{
    width: 30%;
    height: 70vh;
    position: fixed;
    right:0px ;
    top: 160px;
    z-index: 20;
    background-color: white;
    padding: 40px;
    overflow-y:scroll;
    transform: scale(0);
    transition: 200ms ease-in-out;
}    
#cart.active{
    transform: scale(1);
}
#overlay{
    opacity: 0;
    position: fixed;
    top: 100px;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
#cartPage{
    border-bottom: 2px solid gray;
}
#cartPage>div{
    display: flex;
    overflow: hidden;
    text-align: left;
    gap: 30px;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;

}
#cartPage>div>img{
    width: 50%;
}
#prodName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70%;
    overflow: hidden;
    text-align: justify;
}
#cartHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;

}
#cartHead>button{
    background: none;
    border: none;
    font-size: 40px;
}
#prodName>button{
    background: none;
    border: none;
    font-size: 20px;
    margin-left: 20px;
    
}
#cartIcon:hover{
    cursor: pointer;
}
#quantity{
    color: #ff6781;
}
#pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pricing>p{
    font-size: 40px;
    color: gray;
}
#cartTotal{
    color: gray;
}

#cartTotal:nth-child(3){
    font-size: 13px;
}
#cartTotal>button{
width: 100%;
height: 50px;
border: none;
background-color: gray;
color: white;
font-size: 30px;
font-weight: 100;
}
#prodPrice{
display: flex;
align-items: center;
}
#prodPrice>input{
    text-align: center;
    width: 30px;
    height: 30px;
}
#prodPrice>button{
    text-align: center;
    width:30px;
    height: 36px;
    background: none;
    border: 1px solid black;
}
#cartData{
    display: grid;
}
#prodPrice>p{
    margin-left: 30px;
}